* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem;
}

table {
  width: 100%;
  border: 0px solid black;
}

th,
td {
  border: 0px solid black;
  padding: 0.5rem;
}

th span {
  margin-right: 1rem;
}

tr:hover {
  background-color: skyblue;
  transition: 1s;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  border: 0px solid gray;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  background: #f0f0f0;
}

.pagination {
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0.5rem;
}

.loader4 {
  margin-left: 50%;
  width:100px;
  height:100px;
  display:inline-block;
  padding:0px;
  border-radius:100%;
  border:5px solid;
  border-top-color:rgb(74, 36, 246);
  border-bottom-color:rgba(255,255,255, 0.3);
  border-left-color:rgb(74, 36, 246);
  border-right-color:rgba(255,255,255, 0.3);
  -webkit-animation: loader4 1s ease-in-out infinite;
  animation: loader4 1s ease-in-out infinite;
}
@keyframes loader4 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loader4 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
  font-family: arial;
  padding: 1%;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}